#Передайте_ключ_из_файла_setting.py_конфигурации проекта без ('' "")
SECRET_KEY=django-insecure11111111

# Передайте значение True / False
DEBUG=True / False

# Впишите данные вашей базы данных PostgreSQL
# Данные ниже для примера
NAME=database_example
USER=example
PASSWORD=0000
HOST=localhost
PORT=5432