{% extends "base.html" %}
{% load my_tags %}

{% block content %}
{% include 'header.html' %}
<div class="pricing-header px-2 py-3 pt-md-0 pb-md-4 mx-auto text-center">
    <p>Заполните карточку вашего товара</p>
</div>

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="container">
        <div class="card mb-3 border-info">
            <div class="mb-3 mx-5 mt-3">
                <label for="name">Название</label>
                <input type="text" name="name" class="form-control" id="name"
                       placeholder="Название товара"
                       required>
            </div>

            <div class="mb-3 mx-5">
                <label for="description" class="form-label">Описание товара</label>
                <textarea name="description" class="form-control" id="description" rows="3"></textarea>
            </div>

            <div class="mb-3 mx-5">
                <label for="image" class="form-label">Изображение товара</label>
                <input class="form-control" type="file" name="image" id="image">
            </div>

            <div class="mb-3 mx-5">
                <label for="category" class="form-label">
                    Категория
                </label>
                <select
                        name="category"
                        class="form-select"
                        id="category">

                    {% for cat in category %}
                    <option value="{{ cat.pk }}">
                        {{ cat.name }}
                    </option>
                    {% endfor %}
                </select>

            </div>

            <div class="mb-3 mx-5">
                <label for="price">Цена товара</label>
                <input type="text" name="price" class="form-control" id="price"
                       placeholder="Введите цену товара"
                       required>
            </div>

            <div class="mx-5 mb-3">
                <button type="submit"
                        class="btn btn-outline-primary">
                    Сохранить товар
                </button>
            </div>

        </div>
    </div>
</form>

{% endblock %}